body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
  background-color: #03060c;
}

* {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}

#wrapper {
  padding: 10px;
  padding-top: 30px;
}

#container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 20px;
  margin: 20px 0px;
  border-radius: 10px;
}

@media only screen and (max-width: 1200px) {
  #container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 600px) {
  #container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

#newsArticle {
  background-color: white;
  padding: 25px;
  max-width: 500px;
  margin: 30px;
  border-radius: 30px;
}
#newsArticle h2 {
  padding-bottom: 20px;
  font-size: 26px;
  letter-spacing: 1px;
}

#newsArticle div {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  font-size: 13px;
  line-height: 1.5em;
}

#badge {
  font-size: 11px;
  padding: 5px 15px;
  margin-bottom: 2px;
  background-color: lightblue;
  border-radius: 20px;
  color: black;
  display: inline-block;
}

/* NAVBAR */

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #03060c;
  padding: 15px 50px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.links-ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.links-ul li button {
  padding: 5px 10px;
}

.links-ul li button {
  font-size: 13px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: inherit;
  border: none;
  background-color: transparent;
}

.links-ul li button:hover {
  background-color: darkgray;
  border-radius: 30px;
  color: white;
}

#hero {
  color: white;
  padding: 200px 40px;
  text-align: center;
}

#hero h1 {
  font-size: 60px;
}
.cart {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}

.cart-item {
  margin-bottom: 40px;
  background-color: white;
  border: none;
  cursor: pointer;
  outline: inherit;
  border-radius: 20px;
  padding: 30px;
  color: black;
}

.cart-item h2 {
  padding-top: 20px;
  margin-bottom: 10px;
}
.cart-item div {
  padding-bottom: 10px;
  color: black;
}

.products img {
  height: 250px;
  width: 400px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.products button {
  background-color: white;
  border: none;
  cursor: pointer;
  outline: inherit;
  border-radius: 20px;
}

.products h2 {
  padding-top: 20px;
  margin-bottom: 10px;
}
.products div {
  padding-bottom: 20px;
}

.cart-item p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.total-cart {
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.error-cart {
  color: white;
  text-align: center;
  font-size: 20px;
}

.categories button {
  min-width: 150px;
  border-radius: 20px;
  background-color: lightblue;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 11px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  outline: inherit;
}

.cart-button {
  border-radius: 20px;
  margin-right: 10px;
  background-color: lightblue;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 11px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  outline: inherit;
}

.categories {
  margin-right: 50px;
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  gap: 20px;
}

.cart-wrapper button {
  border-radius: 20px;
  background-color: lightblue;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 11px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  outline: inherit;
}

.products-wrapper ul {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}

.form label {
  display: block;
  color: white;
}

.form input {
  display: block;
  border: 0;
  outline: none;
  font-size: 12px;
  color: black;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.form button {
  border-radius: 10px;
  margin-right: 10px;
  background-color: lightblue;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 11px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  outline: inherit;
}

article {
  color: black;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  max-width: 500px;
}

article img {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 250px;
  width: 100%;
}

article button {
  display: block;
  border-radius: 10px;
  margin-right: 10px;
  background-color: lightblue;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 11px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  outline: inherit;
}

@media only screen and (max-width: 1200px) {
  .products {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .cart {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .products-wrapper ul {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 900px) {
  .categories {
    display: inline;
  }
  .categories button {
    margin-bottom: 10px;
  }
  .products {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .cart {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .products-wrapper ul {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
