body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
  background-color: #03060c;
}

* {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}
#wrapper {
  display: flex;
  justify-content: center;
  padding: 10px;
}

#container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 20px;
  margin: 20px 0px;
  border-radius: 10px;
}

@media only screen and (max-width: 1200px) {
  #container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 600px) {
  #container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

#newsArticle {
  background-color: white;
  padding: 25px;
  max-width: 500px;
  margin: 30px;
  border-radius: 30px;
}
#newsArticle h2 {
  padding-bottom: 20px;
  font-size: 26px;
  letter-spacing: 1px;
}

#newsArticle div {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  font-size: 13px;
  line-height: 1.5em;
}

#badge {
  font-size: 11px;
  padding: 5px 15px;
  margin-bottom: 2px;
  background-color: lightblue;
  border-radius: 20px;
  color: black;
  display: inline-block;
}

/* NAVBAR */

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #03060c;
  padding: 15px 50px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.links-ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.links-ul li button {
  padding: 5px 10px;
}

.links-ul li button {
  font-size: 13px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: inherit;
  border: none;
  background-color: transparent;
}

.links-ul li button:hover {
  background-color: darkgray;
  border-radius: 30px;
  color: white;
}

.cart {
  display: flex;
  padding: 0;
}
.cart-item {
  border: 1px gray solid;
  border-radius: 0.25rem;
  padding: 1rem;
  margin: 0.5rem;
  min-width: 8rem;
  width: max-content;
}
.cart-item > div > p {
  margin: 0;
}

.cart-button {
  width: 50%;
  height: 80%;
  padding: 0;
  text-align: center;
}
.button-section {
  margin-top: 0.25rem;
  display: flex;
  gap: 0.5rem;
}
.checkout {
  display: flex;
  width: 60%;
  justify-content: space-between;
}
.form {
  display: flex;
  flex-direction: column;
}

#hero {
  color: white;
  padding: 200px 40px;
  text-align: center;
}
#hero h1 {
  font-size: 60px;
}

.products {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
}
.products img {
  height: 250px;
  width: 400px;
  border-top-left-radius: 20px;
}

.products button {
  background-color: white;
  border: none;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  outline: inherit;
}

.products h2 {
  padding-top: 20px;
  margin-bottom: 10px;
}

.products div {
  padding-bottom: 20px;
}
